@model MyClass.Models.User

@{
    ViewBag.Title = "Chi tiết loại sản phẩm ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong> CHI TIẾT NGƯỜI DÙNG </strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Edit","User", new { id = Model.Id })" class=" btn btn-sm btn-success"><i class="fas fa-edit"></i> Cập nhật </a>
                        <a href="@Url.Action("Index","User")" class=" btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i> Trả về danh sách </a>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:120px"> Tên trường </th>

                        <th> Nội dung </th>
                    </tr>
                    <tr>
                        <td> Họ Và Tên </td>
                        <td> @Html.DisplayFor(model => model.Fullname) </td>
                    </tr>
                    <tr>
                        <td> Tên đăng nhập </td>
                        <td> @Html.DisplayFor(model => model.Username) </td>
                    </tr>
                    <tr>
                        <td> Mật khẩu </td>
                        <td> @Html.DisplayFor(model => model.Password) </td>
                    </tr>
                    <tr>
                        <td> Địa chỉ </td>
                        <td> @Html.DisplayFor(model => model.Address) </td>
                    </tr>
                    <tr>
                        <td> Email </td>
                        <td> @Html.DisplayFor(model => model.Email) </td>
                    </tr>
                    <tr>
                        <td>  Điện thoại </td>
                        <td> @Html.DisplayFor(model => model.Phone) </td>
                    </tr>
                    <tr>
                        <td> Người tạo </td>
                        <td> @Html.DisplayFor(model => model.Created_By) </td>
                    </tr>
                    <tr>
                        <td> Lúc tạo </td>
                        <td>  @Html.DisplayFor(model => model.Created_At) </td>
                    </tr>
                    <tr>
                        <td> Người cập nhật </td>
                        <td> @Html.DisplayFor(model => model.Updated_By) </td>
                    </tr>
                    <tr>
                        <td>  Lúc cập nhật </td>
                        <td> @Html.DisplayFor(model => model.Updated_At) </td>
                    </tr>
                    <tr>
                        <td> Trạng thái </td>
                        <td> @Html.DisplayFor(model => model.Status) </td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
