@model MyClass.Models.Contact

@{
    ViewBag.Title = "Chi tiết liên hệ ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong> CHI TIẾT LIÊN HỆ </strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Edit","Contact", new { id = Model.Id })" class=" btn btn-sm btn-success"><i class="fas fa-edit"></i> Cập nhật </a>
                        <a href="@Url.Action("Index","Contact")" class=" btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i> Trả về danh sách </a>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:120px"> Tên trường </th>
                        <th> Nội dung </th>
                    </tr>
                    <tr>
                        <td> Họ và Tên </td>
                        <td> @Html.DisplayFor(model => model.Fullname) </td>
                    </tr>
                    <tr>
                        <td>  Email </td>
                        <td> @Html.DisplayFor(model => model.Email) </td>
                    </tr>
                    <tr>
                        <td> Tên liên hệ </td>
                        <td> @Html.DisplayFor(model => model.Title) </td>
                    </tr>
                    <tr>
                        <td> Chi tiết </td>
                        <td> @Html.DisplayFor(model => model.Detail) </td>
                    </tr>
                    <tr>
                        <td> Chi tiết từ khóa </td>
                        <td> @Html.DisplayFor(model => model.MetaDesc) </td>
                    </tr>                  
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.ReplayDetail) </td>
                        <td> @Html.DisplayFor(model => model.ReplayDetail) </td>
                    </tr>
                    <tr>
                        <td> Tạo lúc </td>
                        <td>  @Html.DisplayFor(model => model.Created_At) </td>
                    </tr>
                    <tr>
                        <td> Người cập nhật </td>
                        <td> @Html.DisplayFor(model => model.Updated_By) </td>
                    </tr>
                    <tr>
                        <td>  Cập nhật lúc </td>
                        <td> @Html.DisplayFor(model => model.Updated_At) </td>
                    </tr>
                    <tr>
                        <td>Trạng thái </td>
                        <td> @Html.DisplayFor(model => model.Status) </td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
